.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 25px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

h3 {
    text-align: center;
    margin-top: 0;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #06e2ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

textarea {
    
    width: 97%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    background-color:#080808;
    color: #fff;
    border: 5px solid #1596ec;
    border-radius: 3px;
}
.option {
    display: flex;
    align-items: center;
    
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.option label {
    margin-right: 10px;
}

.option select,
.option input[type="color"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 1px solid #080808;
}

#preview-container {
    margin-top: 20px;
    padding: 10px;
    border: 7px solid #1596ec;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff ;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.1);
}
